In [ ]:
#age is variable, it can be whatever name you want if you want to use a longer name ex first_name use underscores
#program executes from top to bottom
#Python is case sensitive

age = 20
price = 19.95
is_online = True #boolean variable True or False
print(age, price)



#TYPES IN PYTHON

# 1 = integer
# 1.1 float
# True boolean
# 'a' string
# : to start a block of code

In [ ]:
#USER INPUT
input("What is your name? ")

In [ ]:
#STORING INPUT AS VARIABLE

name = input("What is your name? ")
print("Hello there " + name) #that is a string concatenation

In [ ]:
#TYPE CONVERSION

birthday = (input("What is your birth year? ")) #call the function
age = 2023 - int(birthday) #turn into a integer
print(age)

# int()
# bool()
# float()
# str()

In [ ]:
#as integer
num1 = (input("First number "))
num2 = (input("Second number "))
sum = int(num1) + int(num2)
print("The sum is: " + str(sum))

First number 1
Second number 2
The sum is: 3

In [ ]:
#as float

num1 = (input("First= "))
num2 = (input("Second= "))
sum = float(num1) + float(num2)
print("Sum: " + str(sum))

In [ ]:
#passing the conversion in the variable
num1 = float(input("First: "))
num2 = float(input("Secon: "))
sum = num1 + num2
print("The sum is: " +str(sum))

In [ ]:
#STRINGS
course = 'Python tutorial' #object
#when an object is part of a function is called Method
print(course.upper()) #it returns a new string it won't overide the previous one

#replacing

In [ ]:
#replace method

course = 'Python tutorial for beginners'
print(course.replace ('for' , '4'))

In [ ]:
#check with in operator , returns boolean
course = 'Python tutorial for beginners'
print('Python' in course)

True

In [ ]:
#Arithmetic operations
print( 10 / 3 ) #returns a float with 2 // returns an integer
print (10 % 3 ) # returns the remainer of the division
print (10 ** 3) #10 to the power of 3
x = 10
x += 3 # augmented assignment operator -= / *=

In [ ]:
#Operator Precedence which is the order of the math calculations
#if you want something to evaluate first wrap it in parenthesis

x = 10 + 3 * 2
x = (10 + 3 ) * 2

In [ ]:
#Comparison operators and returns a boolean
##
>
<
>=
=<
<>
== (equal)
!= (not equal)


x = 3 > 2
print(x)

In [ ]:
#LOGICAL OPERATORS

#price = 25
#print( price > 30 and price < 40)

price = 5
print( not price < 10)

False

In [ ]:
#IF STATEMENTS
#to make decision

temperature = float(input("What is the temperature? "))
if temperature > 30:
  print("It's hot today")
elif temperature < 30:
    print("It's ok today")
else:
  print("It's cold")

What is the temperature? 40
It's hot today

In [ ]:
#EXERCISE

weight = int(input("What is your weight? "))
unit = (input("Is it in (K)g or (L)bs? "))
if unit.upper == "K":
  converted = weight / 0.45    #storing into a new variable inside if statement
  print("Weight in Lbs" + converted)
else:
  converted = weight * 0.45
  print("Weight in Kg " + str(converted))

What is your weight? 80
Is it in (K)g or (L)bs? k
Weight in Kg 36.0

In [ ]:
#WHILE LOOPS is to repeat a block of code multiple times


i = 1
while i <= 10: #
  print(i * '*') #you multiply a number with a string
  i = i + 1


i = 1
while i <= 5:  # this interation will run until it reaches the number 5
  print(i)
  i = i + 1

In [ ]:
#LISTS it's an object

name = ["John", "Bob", "Sam"] # that is a list
name [0] = "Jon" # to update sth in the list
print(name)
print(name[1]) # 1 is a index
print(names[0])

In [ ]:
#LISTS METHODS
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)

#insert method to add sth into the list

numbers.insert(0, -1) #insert -1 in the beginning of the list

#removing from the list

numbers.remove(3)


#clear the whole list

numbers.clear()


# to check if sth is in the list

print(1 in numbers) #boolean expression

#length of a list

print(len(numbers))

In [ ]:
#FOR LOOPS

#item is a new variable to store what we need

numbers = [1, 2, 3, 4, 5]
for item in numbers:
  print(item)

i = 0
while i < len(numbers):
  print(numbers[i])
  i = i +1

In [11]:
# THE RANGE () FUNCTION to generate a sequence of numbers

for number in range(5):
  print(number)

range(0, 5)

In [ ]:
#TUPLES they are like lists but can't be changed

numbers = (1, 2, 3, 3)